body {
    font-family: 'Raleway', sans-serif !important;
    overflow-y: auto;
    overflow: scroll !important; 
}

ul {
    list-style-type: none;
}

#summaryCompleteChart {
    height: 100%;
}


#summaryCompletePercentageIndicator {
    position: absolute;
    margin: 0;
    margin: none;
    padding: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
}

#initiativeSelection {
    font-size: 2.4em;
    background-color: #fbfbfb;
    border:none;
    max-width: 100%;
}

.page {
    padding-top: 30px;
}
.row {
    margin: auto 40px;
}

.container {
    background-color: #f1f1f1;
    margin: auto 10px;
    height: 100%;
    padding: 20px;
    width: 100%;
}

.container--thirtypercentwidth {
    width: 30%;
}

.container--seventypercentwidth {
    width: 70%;
}

.container--fullWidth {
    width: 100%;
}

.container--halfwidth {
    width: 50%;
}

.summaryPoints {
    font-size: 2.0em;
    line-height: 2.0;
}

.summaryValues {
    font-weight: bold;
    font-size: 1.2em;
}

#totalFeatures { 
    color: #773b93;
}

#totalWorkItems {
    color: #009ccc;
}

#totalTasks {
    color: #f2cb1d
}

#totalBugs {
    color: #cc293d;
}

.chart {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.chart-container {
    width: 50%;
    height: 100%;
}

.dataRowContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 350px;
    margin-bottom: 20px;
}

